Repository arianshahalami/bade-saba-task: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(config): fix eslint integration with husky and lint-staged
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(config): fix eslint integration with husky and lint-staged
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/App.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

refactor(config): refactor eslint config
  .eslintrc.json
  src/App.tsx
Due: eslint --fix, prettier --write

fix(config): remove duplicate esling properties
  .eslintrc.json
Due: prettier --write

chore(package): add scss support
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(view): remove extra files
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
Due: eslint --fix, prettier --write

chore(package): install react-router-dom
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(config): configure path aliases
  tsconfig.app.json
Due: prettier --write

feat(config): configure path aliases
  src/components/general-error/index.ts
  src/modules/error/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat(view): configure routes
  src/App.tsx
  src/main.tsx
  src/router/router.tsx
Due: eslint --fix, prettier --write

feat(view): error pages added
  public/not-found.jpg
  src/components/general-error/general-error.component.tsx
  src/modules/error/views/not-found.view.tsx
Due: eslint --fix, prettier --write

fix(config): fix route names
  src/main.tsx
  src/router/router.tsx
Due: eslint --fix, prettier --write

feat(style): customize bootstrap and fonts
  index.html
  public/fonts/iransans/IRANSansWeb(FaNum).woff2
  public/fonts/iransans/IRANSansWeb(FaNum)_Black.woff2
  public/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2
  public/fonts/iransans/IRANSansWeb(FaNum)_Light.woff2
  public/fonts/iransans/IRANSansWeb(FaNum)_Medium.woff2
  public/fonts/iransans/IRANSansWeb(FaNum)_UltraLight.woff2
  src/main.tsx
  src/styles/custom-bootstrap.scss
  src/styles/fonts.scss
Due: eslint --fix, prettier --write

feat(style): customize bootstrap and fonts
  src/App.tsx
Due: eslint --fix, prettier --write

feat(config): add dake secret-token
  .env
Due: none

chore(package): install jwt package
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(style): use styles acroos the app
  src/styles/main.scss
Due: prettier --write

feat(view): add login view
  src/modules/authentication/index.ts
  src/modules/authentication/views/login.module.scss
  src/modules/authentication/views/login.view.tsx
  src/router/router.tsx
Due: eslint --fix, prettier --write

feat(view): add 404 view
  src/modules/error/views/not-found.view.tsx
Due: eslint --fix, prettier --write

fix(config): remove some extra procedure on sass files
  vite.config.ts
Due: eslint --fix, prettier --write

feat(asset): add badesaba logo
  public/badesaba_icon.svg
Due: none

fix(view): adjust size of footer font-size
  src/modules/authentication/views/login.module.scss
  src/modules/authentication/views/login.view.tsx
Due: eslint --fix, prettier --write

feat(view): add-permission view
  src/modules/permission/index.ts
  src/modules/permission/views/add-permission.view.tsx
  src/router/router.tsx
Due: eslint --fix, prettier --write

feat(component): add category-selector component
  src/modules/permission/components/category-selector.component.tsx
  src/modules/permission/components/category-selector.module.scss
Due: eslint --fix, prettier --write

feat(component): add nav-menu component
  src/components/nav-menu/nav-menu.component.tsx
  src/components/nav-menu/nav-menu.module.scss
Due: eslint --fix, prettier --write

feat(asset): add fake data
  src/fake-data/categoriesTree.json
  src/fake-data/products.json
Due: prettier --write

feat(component): add category selector component
  src/modules/permission/components/category-selector.component.tsx
  src/modules/permission/components/category-selector.module.scss
  src/modules/permission/views/add-permission.view.tsx
Due: eslint --fix, prettier --write

feat(component): add category-access-list component
  src/modules/permission/components/category-access-list/category-access-list.component.tsx
  src/modules/permission/components/category-access-list/category-access-list.module.scss
  src/modules/permission/components/category-access-list/category-access-list.type.ts
Due: eslint --fix, prettier --write

feat(component): add category-selector component
  src/modules/permission/components/category-selector.module.scss
  src/modules/permission/components/category-selector/category-selector.component.tsx
  src/modules/permission/components/category-selector/category-selector.module.scss
Due: eslint --fix, prettier --write

feat(component): add category-selector component
  src/modules/permission/components/category-selector/category-selector.type.ts
Due: eslint --fix, prettier --write

feat(constant): add category access levels constant
  src/constants/category-access-levels.constant.ts
  src/constants/index.js.ts
Due: eslint --fix, prettier --write

feat(asset): add actions data
  src/fake-data/actions.json
Due: prettier --write

feat(view): integrate category-selector and category-access component
  src/modules/permission/views/add-permission.view.tsx
Due: eslint --fix, prettier --write

feat(style): change active-bg color
  src/styles/custom-bootstrap.scss
Due: prettier --write

feat(view): male login view responsive
  src/modules/authentication/views/login.module.scss
  src/modules/authentication/views/login.view.tsx
Due: eslint --fix, prettier --write

feat(view): add authorization on pages
  src/hooks/use-check-credentials.ts
  src/modules/permission/views/add-permission.view.tsx
  src/router/router.tsx
Due: eslint --fix, prettier --write

docs(readme): add readme file
  README.md
Due: prettier --write

docs(readme): add user and password of panel
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,json,html,css,scss,sass}
